@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");

main {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 360px;
}

button {
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: hsla(240, 100%, 85%);
}
