@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");

main {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 300px;
}

button {
  display: block;
  margin: auto;
}
